.btn-print{
    display: flex;
    position: absolute;
    padding: 7px;
    width: 7%;
    border: 2px solid rgb(0, 183, 255);
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
}
.btn-print:hover{
    background-color: rgb(124, 211, 245);
}
.table-list{
    width: 100%;
    border-collapse: collapse;
}
.table-list tr td{
    text-align: center;
    border: 1px solid black;
}
@media Print {
    .btn-print{
        display: none;
    }
    body{
        zoom: 80%;
    }
    @page{
        size: landsacpe;
        margin: 1cm;
    }
}